<%-include('includes/header'); %>
	<div class="row">
		<div class="col-sm-12">
			<h3><%-title%></h3>
			<p>This example adds a dropdown menu in the navbar.</p>
		</div>
	</div>
<%-include('includes/footer'); %>